// @import '~slick-carousel/slick/slick.scss'; // Import slick styles by scss entry
// @import '~slick-carousel/slick/slick-theme.scss'; // Import slick styles by scss entry

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}

body {
  background-color: #fff;
}
